body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.sub-heading {
	text-align: center;
}

.width-100 {
	width: 100%;
}

.width-75 {
	width: 75% !important;
}